In [1]:
import pandas as pd
import datetime
import re

In [2]:
raw_data = pd.read_csv("train.csv")

In [3]:
raw_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [5]:
raw_data.isnull()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [6]:
raw_data.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [7]:
#Drop the Column "New_Price" because it has many missing values.
raw_data.drop(columns=["New_Price"], inplace=True)

In [8]:
# For other columns with missing values, impute them with the mean or median
raw_data['Mileage'] = raw_data['Mileage'].str.extract('(\d+\.\d+)').astype(float)
raw_data['Engine'] = raw_data['Engine'].str.extract('(\d+)').astype(float)
raw_data['Power'] = raw_data['Power'].str.extract('(\d+\.\d+)').astype(float)


# Impute missing values with the mean or median

raw_data['Mileage'].fillna(raw_data['Mileage'].median(), inplace=True)
raw_data['Engine'].fillna(raw_data['Engine'].median(), inplace=True)
raw_data['Power'].fillna(raw_data['Power'].median(), inplace=True)
raw_data["Seats"].fillna(raw_data["Seats"].median(), inplace=True)

In [9]:
def extract_numeric_value(text):
    if pd.notna(text):
        matches = re.findall(r'(\d+\.\d+|\d+)', str(text))
        if matches:
            return float(matches[0])
    return None

In [10]:
#Task
#Remove the units from some of the attributes and only keep the numerical value.
raw_data["Mileage"] = raw_data["Mileage"].apply(extract_numeric_value)
raw_data["Engine"] = raw_data["Engine"].apply(extract_numeric_value)
raw_data["Power"] = raw_data["Power"].apply(extract_numeric_value)

In [11]:
raw_data.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [12]:
current_year = datetime.datetime.now().year
raw_data['Current_age'] = current_year - raw_data['Year']

In [13]:
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Price  Current_age
0  126.20    5.0  12.50            8
1   88.70    5.0   4.50           12
2   88.76    7.0   6.00           11
3  140.80    5.0  17.74           10
4   63.10    5.0   3.50           10

In [14]:
raw_data = pd.get_dummies(raw_data, columns=["Fuel_Type", "Transmission"])

In [15]:
print(raw_data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    18.19  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Current_age  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0            8                 1                   0                 0
1           12                 0                   0                 1
2           11                 1                   0                 0
3           10                 1                   0                 0
4           10                 1                   0                 0

   Transmission_Automatic  Transmission_Manual
0                       0                    1
1                       0                    1
2                       0                    1
3                       1                    0
4                       0                    1

In [16]:
raw_data.to_csv("cleaned_and_modified_cardata.csv", index=False)